@{
    ViewData["Title"] = "Home Page";
}

<header id="home" class="header">
			<div class="container">
			<div class="header-content row">


				<div id="owl-demo" class="owl-carousel header1">
					<div>
						<div class="col-xs-12 col-sm-6 col-md-6 header-text">
							<h2 class="wow bounceIn animated" data-wow-delay=".40s">Добре дошли в
								<br />
								<span>Автосервиз "Димитров"</span>
							</h2>
							<h3 class="wow bounceIn animated" data-wow-delay=".50s"> </h3>
							<p class="wow bounceIn animated" data-wow-delay=".60s"> Ние сме фирма развиваща се в сферата на автосервизните услугите повече от 20 години.
								 Извършваме техническо обслужване и ремонт на леки, лекотоварни и товарни моторни превозни средства.</p>
							<p>
								<a href="./pages/services.html">
									<div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated"
										data-wow-delay="1s"><i class="hbtn"></i> <span>Повече информация</span> </i>
									</div>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>



		</div>
</header>
		<!-- =============== container =============== -->

		<!-- =============== container end =============== -->