  <section id="Services" class="">
        <!-- =============== container =============== -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft animated" data-wow-delay=".5s">
                    <img src="../assets/img/services-img.jpg" class="img-left" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
                    <h2>Services</h2>
                    <p>Сервизните дейности които извършваме са следните:</p>
                    <ul>
                        <li>Диагностика</li>
                        <li>Софтуерни услуги</li>
                        <li>Ремонт на двигатели</li>
                        <li>Ремонт на ходова част</li>
                        <li>Цялостно обслужване на автомобили</li>
                        <li>Ремонт и зареждане на климатична система (R134A / R1234YF) </li>
                        <li>Ремонт на скоростни кутии (ръчни/автоматични)</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- =============== container end =============== -->
    </section>
    <!-- =============== for box =============== -->
    <section class="for-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".1s">
                    <div class="for-box-crecl">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <div class="clr1">
                        <h2>
                            Обслужване<br />
                        </h2>
                    </div>
                    <div class="wbox">
                        <strong>Какво и кога трябва да сменяме</strong>
                        <p>- Масло и филтри</p>
                        <p>- Ремъци и ролки</p>
                        <p>- Верижно задвижване</p>
                        <a href="maintenance.html" class="clr1-a">Още..</a>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".2s">
                    <div class="for-box-crecl">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="clr2">
                        <h2>
                            Диагностика<br />
                        </h2>
                    </div>
                    <div class="wbox">
                        <strong></strong>
                        <p>При възникване на повреда с автомобила в повечето случаи той губи мощност, което е придружено
                            със съответната контролна лампа. В следвствие на което трябва да се направи диагностика за
                            да се отстрани повредата.</p>
                        <a href="diagnostics.html" class="clr2-a">Още..</a>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".3s">
                    <div class="for-box-crecl">
                        <i class="fa fa-gears"></i>
                    </div>
                    <div class="clr3">
                        <h2>
                            Ремонт<br />
                        </h2>
                    </div>
                    <div class="wbox">
                        <p> Ремонт се извършва след добре направена диагностика
                            и оглед.До голяма степен от случаите се налага превозното средство да бъде изпробвано на
                            пътя в зависимост от това какъв е възникналия проблем.
                        </p>
                        <a href="repair.html" class="clr3-a">Още..</a>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".4s">
                    <div class="for-box-crecl">
                        <i class="fa fa-car"></i>
                    </div>
                    <div class="clr4">
                        <h2>
                            Софтуер<br />
                        </h2>
                    </div>
                    <div class="wbox">
                        <p> Нуждаете се от повече мощност при изпреварване или просто сте любител на високите скорости.
                            Или просто имате проблем от който ви е омръзнало (DPF, EGR, TVA, Swirl Flaps & etc) имаме
                            решение и за това.
                        </p>
                        <a href="software.html" class="clr4-a">Още..</a>
                    </div>

                </div>
            </div>
        </div>
    </section>