 <section id="about" class="">
        <!-- =============== container =============== -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInDown animated" data-wow-delay=".5s">
                    <h2>За нас</h2>
                    <h3>Автосервиз “Димитров” отвори врати през 2004 година.
                        От този момент до ден-днешен автосервизът извършва ремонт на всички видове леки и товарни
                        автомобили.
                        Ние предлагаме висококачествена поддръжка на вашите автомобили, за да останете напълно доволни.
                        Клиентът е преди всичко, както ще се уверите и сами.
                        Ние не предлагаме просто ремонт и поддръжка, а спокойствие за клиента. Подробна информация
                        свързана със сервизните дейности които извършваме можете да намерите <a href="#Services">тук</a>
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
                    <img src="../assets/img/about-img.jpg" />
                </div>
            </div>
        </div>
        <!-- =============== container end =============== -->
    </section>
    <section id="team" class="">
        <!-- =============== container =============== -->
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>Нашият екип</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".1s" id="worker">
                    <div class="timg"><img src="../assets/img/team-img1.jpg" /></div>
                    <div class="t-box">
                        <h3>Диан Димитров</h3>
                        <span>Creative Director</span>
                        <ul class="social-links">
                            <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".2s" id="worker">
                    <div class="timg"><img src="../assets/img/team-img1.jpg" /></div>
                    <div class="t-box">
                        <h3>Йордан Димитров</h3>
                        <span>Website & ui designer</span>
                        <ul class="social-links">
                            <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInDown animated" data-wow-delay=".3s" id="worker">
                    <div class="timg"><img src="../assets/img/team-img1.jpg" /></div>
                    <div class="t-box">
                        <h3>Пламен Иванов</h3>
                        <span>Senior Developer</span>
                        <ul class="social-links">
                            <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".4s">
                    <div class="timg"><img src="../assets/img/team-img4.jpg" /></div>
                    <div class="t-box">
                        <h3>MOHD SAIF</h3>
                        <span>Content Writer</span>
                        <ul class="social-links">
                            <li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"><i
                                        class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- =============== container end =============== -->
    </section>