    	<footer id="footer">
		<!-- =============== container =============== -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">

					<ul class="social-links">
						<li><a class="wow fadeInUp animated" href="https://www.facebook.com/avtoservizdido2k"
								style="visibility: visible; animation-name: fadeInUp;"><i
									class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><i
									class="fa fa-twitter"></i></a></li>
						<li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#"
								style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i
									class="fa fa-google-plus"></i></a></li>
						<li><a data-wow-delay=".4s" class="wow fadeInUp animated" href="index.html#"
								style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><i
									class="fa fa-pinterest"></i></a></li>
						<li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="index.html#"
								style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i
									class="fa fa-envelope"></i></a></li>
					</ul>

					<p class="copyright">
						&copy; 2016-2022 Автосервиз "Димитров". Created By <a href="http://templatestock.co">Template Stock</a>
					</p>

				</div>
				<div data-wow-delay=".6s" class="col-xs-12 col-sm-6 col-md-6 wow bounceIn  animated"
					style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">

					<section class="widget widget_text" id="text-15">
						<h3 class="widget-title">Раднево, България</h3>
						<div class="textwidget">кв. Гипсово, ул. Загоре №3<br>
							<p>Tel: 0886244800<br>
								E-mail: <a href="#">etdido2000@abv.bg</a></p>
							<!-- <a href="#">Get directions on the map</a> → -->
						</div>
					</section>

				</div>
			</div>
		</div><!-- =============== container end =============== -->
	</footer>